<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.mybatis.mapper.OrderMapper">

    <resultMap id="orderMap" type="Order" autoMapping="true">
        <id column="id" property="id"></id>
        <association property="user" javaType="User" autoMapping="true">
            <id column="user_id" property="id"></id>
        </association>
    </resultMap>

    <select id="queryOrderWithUserById" resultMap="orderMap">
      select * from tb_order o
        inner join tb_user u
        on o.user_id = u.id
        where o.order_number = #{id}
    </select>

    <resultMap id="orderMapWithUserAndOrderDetail" type="Order" autoMapping="true" extends="orderMap">
        <!--<id column="id" property="id"></id>-->
        <!--<association property="user" javaType="User" autoMapping="true">-->
            <!--<id column="user_id" property="id"/>-->
        <!--</association>-->
        <collection property="orderDetails" javaType="list" ofType="OrderDetail" autoMapping="true">
            <id column="detail_id" property="id"/>
        </collection>
    </resultMap>

    <select id="queryOrderWithUserAndDetailById" resultMap="orderMapWithUserAndOrderDetail">
        select *,od.id as detail_id from tb_order o
            inner join tb_user u
            on o.user_id = u.id
            left join tb_orderDetail od
            on o.id = od.order_id
            where o.order_number = #{id}
    </select>


    <resultMap id="orderMapWithUserAndItem" type="Order" autoMapping="true" extends="orderMap">
        <!--<id column="id" property="id"></id>-->
        <!--<association property="user" javaType="User" autoMapping="true">-->
            <!--<id column="user_id" property="id"></id>-->
        <!--</association>-->
        <collection property="orderDetails" javaType="list" ofType="OrderDetail" autoMapping="true">
            <id column="detail_id" property="id"></id>
            <association property="item" javaType="Item" autoMapping="true">
                <id column="item_id" property="id"/>
            </association>
        </collection>
    </resultMap>
    <select id="queryOrderWithUserAndItem" resultMap="orderMapWithUserAndItem">
        select * from tb_order o
            inner join tb_user u
            on o.user_id = u.id
            inner join tb_orderDetail od
            on o.id = od.order_id
            inner join tb_item i
            on i.id = od.item_id
            where o.order_number = #{id};
    </select>

    <!--以下为测试延迟加载-->



    <resultMap id="orderMap2" type="Order" autoMapping="true">
        <id column="id" property="id"></id>
        <association property="user" javaType="User" select="queryUser" autoMapping="true" column="user_id"/>
    </resultMap>

    <select id="queryOrder" resultMap="orderMap2">
        select * from tb_order o
        where o.order_number = #{id}
    </select>

    <select id="queryUser" resultType="User">
        select * from tb_user where id = #{user_id}
    </select>


</mapper>